table, th, td {
    border: 1px solid;
    background-color: hotpink;
    color: rgb(11, 92, 173); /* betűszín */
    font-family: 'Courier New' ; /* betűtípus */
    font-size: 30px; /* betűméret */
  }
  td {
    background-color: rgb(171, 129, 212);
  }