table, th, td {
    border: 1px solid;
    background-color: rgb(116, 58, 207);
    color: rgb(36, 33, 223); /* betűszín */
    font-family: 'Courier New' ; /* betűtípus */
    font-size: 30px; /* betűméret */
  }
  td {
    background-color: rgb(230, 69, 216);
  }